<div class="col-8 container shadow border-0 card mb-3 justify-content-center bg-light p-3 border secciones" style="max-width: 650px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{details.imageProfile}}" alt="Image" width="350px" class="img-fluid rounded-start" />
    </div>


<div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">¡Bienvenido a tu perfil {{details.username}}!</h2>
<h6>Nombre de usuario: </h6>
<h5>{{details.username}}</h5>
<h6>Email:</h6>
<h5>{{details.email}} </h5>
<h6>Teléfono:</h6>
<h5>{{details.contact}} </h5>
<h6>Descripción:</h6>
<h5>{{details.description}} </h5>
</div>
    </div>
  </div>
</div>

<div class="col-8 container shadow border-0 card mb-3 justify-content-center bg-light p-3 border secciones" style="max-width: 650px;">
<h5>Imagenes de eventos:</h5>
<form action="/private-profile/uploadimg" method="POST" enctype="multipart/form-data">
  <label class="form-label"> Adjuntar</label>
  <br>
  <input type="file" name="imageShow" value="" class="form-control" />
  <br>
  <button type="submit" class="btn btn-secondary"> Adjuntar Imagenes </button>
</form>


<form action="private-profile/uploadimg/delete" method="POST">
  <h2>Mis imágenes:</h2>
  {{#each details.imageShow}}
    <div class="text-center">
      <img src="{{this}}" alt="Imagen del usuario" width="250px" class="rounded m-2">
      <input type="checkbox" name="imagesToDelete" value="{{this}}">
    </div>
  {{/each}}
  <button type="submit" class="btn btn-secondary">Eliminar imágenes seleccionadas</button>
</form>

<h5>Canciones:</h5>
<h5>Videos: {{details.videoShow}} </h5>
<h5>Género: {{details.genre}} </h5>

<br />
<a href="/private-profile/edit">
  <button type="submit" class="btn btn-secondary">Editar información</button>
</a>
<br />


</form>
<a href="/private-profile/fav"><button class="btn btn-secondary">Favoritos</button></a>
<br>
<form action="/private-profile/delete" method="post">
  <button class="btn btn-danger">Eliminar perfil</button>

</div>