<h2>¡Bienvenido a tu perfil {{details.username}}!</h2>

<img src="{{details.imageProfile}}" alt="Image">

<h5>Nombre de usuario: {{details.username}} </h5>
<h5>Email: {{details.email}} </h5>
<h5>Teléfono: {{details.contact}} </h5>
<h5>Descripción: {{details.description}} </h5>
<h5>Imagenes de eventos: {{details.imageShow}} </h5>
<h5>Videos: {{details.videoShow}} </h5>
<h5>Canciones: {{details.songs}} </h5>
<h5>Género: {{details.genre}} </h5>


  <br />
  <a href="/private-profile/edit">
  <button type="submit">Editar información</button>
  </a>
<br>
   <form action="/private-profile/delete" method="post">
  <button>Eliminar perfil</button>
  </form>