<h1>12</h1>

  <h3><u> FAVORITOS </u>:</h3>
{{#each favorito}}
    
      <hr>
     <div class=" fav">

      <h5 >Artista: <b>{{this.username}}</b> del genero <B>{{this.genre}}</B></h5>
      
     <img src=" {{this.imageProfile}}" alt="Image" />
     <br>
     
  
      <h6>Sobre nosotros: <i>{{this.description}}</i></h6>
        <h6 ><b>Contacto:</b> {{this.email}} --- Teléfono: <b>{{this.contact}}</b></h6>
      
      </div>
    

     <br>
      <form action="" method="POST">
               <button class="btn btn-primary">Eliminar de la lista</button>
               </form>
     <hr>
    {{/each}}




