<div class="divPerfil">
<h2>Detalles de artista</h2>
<img src="{{artistDetails.imageProfile}}" alt="Image" width="200px">
<h4>{{artistDetails.username}}</h4>
<h5>Género: {{artistDetails.genre}}</h5>
<h5>Email: {{artistDetails.email}} </h5>
<h5>Teléfono: {{artistDetails.contact}} </h5>
<h5>Descripción: {{artistDetails.description}} </h5>
<h5>Imagen de perfil: {{artistDetails.imageProfile}} </h5>
{{#each artistDetails.imageShow}}
<h5>Imagenes de eventos: {{artistDetails.imageShow}} </h5>
{{/each}}
<h5>Videos: {{artistDetails.videoShow}} </h5>
<h5>Caniciones: {{artistDetails.songs}} </h5>

<h5>Comentarios:</h5>
{{#each commentDetails}}
<h6>{{this.creator.username}}</h6>
<h6>{{this.comment}}</h6>


<form action="/comments/{{this._id}}/delete" method="post">
<button type="submit">Eliminar</button>
</form>

<a href="/comments/{{this._id}}/edit">
<button type="submit">Editar</button>
</a>
<br>



{{/each}}

{{#if activeUser}}

<a href="/comments/{{artistDetails.id}}"><button>Nueva reseña</button></a>
{{/if}}

<br>

</div>




